 <nav class="landingPage navbar-fixed">
    <img src="/images/bakify.png" alt="logo"/>
        <div class="nav-links">
          <a href="/">Home</a> 
        <a href="/auth/profile">Profile</a> 
        <a href="#">How it works</a>
 {{!--        <button class="loginbttn" onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Sign in</button> --}}
        {{!-- <button onclick="document.getElementById('id01').style.display='block'" style="width:auto;">Get Started</button> --}}
        </div>
  </nav>
  
  <div class="sidebar">
    <div class="sidebar-content">
      <div class="navicon"><a class="menu-icon" href="#"><i class="fas fa-birthday-cake"></i></a></div>
          <div class="spinnerIcon"><i class="fas fa-spinner fa-spin"></i></div>
        <div class="daysTill">
          <h4>Checklist</h4>
         
         </div>
         <ul class="sidebar-menu list-unstyled">
        <li class="list-item"><a href="/auth/profile"><i class="fa fa-home"></i><span>Profile</span></a></li>
        <li class="list-item"><a href="/look/lookbook"><i class="fas fa-book-open"></i><span>LookBook</span></a></li>
        <li class="list-item"><a href="/all/allLookBooks"><i class="fas fa-book-open"></i><span>All LookBooks</span></a></li>
         <li class="list-item"><a href="/look/gallery"><i class="far fa-images"></i><span>Gallery</span></a></li>
        <li class="list-item"><a href="/auth/checklist"><i class="fas fa-tasks"></i><span>Check-List</span></a></li>
        <li class="list-item"><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a></li>
      </ul>

    </div>
    </div>
    </div>
  <div class="overlay">

  </div>
<section class="emptynav"><p>White Text</p></section>

  <section class="checkSection">
      <h2>Your Bakify Checklist</h2>
      <p>Track your cake every step of the way, and always know whats next!</p>
      <img src="/images/checklist.png">
          <hr>
       <div class="task1">
          <p>1</p>
            <h4>Create Profile</h4>
            <p>You completed the first step by simply creating an account! You are well on your way to helping us help you by making all your cake dreams come true!</p>
           </div>
           <hr>
           <div class="task1">
          <p>2</p>
            <h4>Create LookBook</h4>
            <p>Your lookbook is an essential part to the creation of your cake! So far you have uploaded (#) images to your lookbook.</p>
           </div>
              <hr>
            <div class="task1">
          <p>3</p>
            <h4>Consultation</h4>
            <p>Your lookbook is an essential part to the creation of your cake! So far you have uploaded (#) images to your lookbook.</p>
           </div>
           <hr>
           <div class="task1">
          <p>4</p>
            <h4>Approve the final Sketch</h4>
            <p>Your lookbook is an essential part to the creation of your cake! So far you have uploaded (#) images to your lookbook.</p>
           </div>
           <hr>
           <div class="task1">
          <p>5</p>
            <h4>Choose Your Flavor</h4>
            <p>Your lookbook is an essential part to the creation of your cake! So far you have uploaded (#) images to your lookbook.</p>
           </div>
           <hr>
           <div class="task1">
          <p>6</p>
            <h4>Unbox</h4>
            <p>Your lookbook is an essential part to the creation of your cake! So far you have uploaded (#) images to your lookbook.</p>
           </div>












</section>






















<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  
































<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">       
 