<nav>

<div class="sidebar">
    <div class="sidebar-content">
      <div class="navicon"><a class="menu-icon" href="#"><i id="menuicon" class="fa fa-times "></i></a></div>
      <ul class="sidebar-menu list-unstyled">
        <li class="list-item"><a href="#"><i class="fa fa-home"></i><span>Home</span></a></li>
        <li class="list-item"><a href="#"><i class="fas fa-book-open"></i><span>LookBook</span></a></li>
        <li class="list-item"><a href="#"><i class="fas fa-tasks"></i><span>Check-List</span></a></li>
        <li class="list-item"><a href="/auth/logout"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a></li>
      </ul>

    </div>
  </div>
  </div>
  <div class="overlay">

  </div>
</nav>

<section class="pageContent">
  <h1>Welcome {{currentUser.username}}</h1>
</section>


 <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
  <script src="/javascripts/script.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/style.css" />
