<body>

  <header class="topheader">
    <div class="textheader">
      <h2>Cakes Made Just For You.</h2>
    </div>
  </header>
  <hr>
  <div id="mid-body" class="flex-container">
    <span><em>Create</em><br>Profile</span>
    <span><em>Create</em><br>LookBook</span>
    <span><em>Approve</em><br>Design</span>
    <span><em>Unbox</em><br>Cake</span>
  </div>
  <hr>

  <div class="howItWorks">
    <h4>How It Works</h4>
  </div>
  <div class="howItWorksImg">
    <img src="/images/1 bakify.png">
    <img src="/images/1 bakify (1).png">
    <img src="/images/1 bakify (2).png">
  </div>

  <div class="aboutApp">
    <h4>About the App</h4>
    <p>I created Bakify for the everyday Baker. The process of baking a cake may seem simple to the
      average person, however there is alot that goes into it. Bakers often times find themselves going
      back and forth with customers just to get that design right. Bakify eliminates the back and forth of
      consultaions, customers can simply create a profile , add images to their lookbook with comments to
      describe their desire, allowing the Baker to get the design right. Customers dont have a need to meet with
      the baker and vise versa, everything is done through the app. </p>
  </div>


  <div class="footer">
    <img src="/images/responsive.png">
  </div>

</body>