<body>

<header class="topheader">
  <div class="textheader">
  <h2>Cakes Made Just For You.</h2>
  </div>
</header>
<hr>
   <div id="mid-body" class= "flex-container">
        <span><em>Create</em><br>Profile</span>
        <span><em>Create</em><br>LookBook</span>
        <span><em>Approve</em><br>Design</span>  
        <span><em>Unbox</em><br>Cake</span>
    </div>
<hr>
<div class="howitworks" >
  <h4>How It Works</h4>
  <p> Welcome to Bakify, the leading custom cakes bakery in Florida. We pride ourselves in 
    providing our customers with the best service. That is why we are happy to present to you 
    our easy, no-hassle order app, Bakify. It's as easy as 123. With our app, you are able to 
    customize a cake using images in your very own lookbook, this way our sketch artist can design 
    your cake at your convince!</p>
</div>

<div class="aboutApp">
  <h4>About the App</h4>
  <p>I created Bakify for the everyday Baker. The process of baking a cake may seem simple to the 
    average person, however there is alot that goes into it. Bakers often times find themselves going 
    back and forth with customers just to get that design right. Bakify eliminates the back and forurth of 
    consultaions, customers can simply create a profile , add images to their lookbook with comments to
    describe their desire, allowing the Baker to get the design right. Customers dont have a need to meet with 
    the baker and vise versa, everything is done through the app. </p>
</div>

<div class="footer">
<img src="/images/responsive.png">
</div>

</body>