<body>

<header class="topheader">
  <div class="textheader">
  <h1>Cakes Made Just For You.</h1>
  </div>
</header>

<div class="howitworks" >
  <h2>How It Works</h2>
  <p> Welcome to Bakify, the leading custom cakes bakery in Florida. We pride ourselves in providing our customers with the best service. That is why we are happy to present to you our easy, no-hassle order app, Bakify. It's as easy as 123. With our app, you are able to customize a cake using images in your very own lookbook, this way our sketch artist can design your cake at your convince!</p>
</div>


</body>